<div class = "container">
<form>

    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="formGroupExampleInput">ID</label>
          <input type="text" class="form-control" id="formGroupExampleInput" value={{customer.id}}>
        </div>

        <div class="col-md-4 mb-3">
          <label for="formGroupExampleInput2">First name</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.first_name}}>
        </div>
        <div class="col-md-4 mb-3">
          <label for="formGroupExampleInput2">Last name</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.last_name}}>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="formGroupExampleInput2">email</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.email}}>
        </div>

        <div class="col-md-6 mp-3">
          <label for="formGroupExampleInput2">IP</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.ip}}>
        </div>
    </div>
    
    <div class="form-row">
        <div class="col-md-6 mb3">
          <label for="formGroupExampleInput2">Latitude</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.latitude}}>
        </div>

        <div class="col-md-6 mb3">
          <label for="formGroupExampleInput2">Longitiude</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value={{customer.longitude}}>
        </div>
        
    </div>
    <div class= "form-row">
            <button class="btn btn-primary" type="submit">save</button>
    </div>
    
</form>
</div>

